<div>
    <mat-toolbar color="primary">
        <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <a mat-button class="companyName" routerLink="/">
            <span><img src="assets/Images/PLAY.png" alt="playsystems.io"></span>
        </a>
        <span class="example-spacer"></span>
        <div fxShow="true" fxHide.lt-md="true">
            <button mat-button>English</button>
            <button mat-button>Ελληνικά</button>
            <a mat-button>more tools</a>
        </div>

    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-container">

        <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
            <div fxLayout="column">
                <button mat-button >English</button>
                <button mat-button >Ελληνικά</button>
                <a mat-button>more tools</a>
            </div>
        </mat-sidenav>
    </mat-sidenav-container>
</div>